/* 设置全局字体 */
body {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}

/* 设置代码块字体 */
.code-box, pre, code {
    font-family: "Roboto Mono", "ZCOOL XiaoWei", monospace;
    font-optical-sizing: auto;
}

/*设置主体居中*/
main {
    max-width: 800px; /* 设置最大宽度 */
    margin: 0 auto;   /* 设置上下外边距为0，左右外边距自动 */
    padding: 20px;    /* 添加内边距 */
    display: flex;    /* 设置弹性布局 */
    overflow-x: hidden;
}

/* 文章部分 */
article {
    flex: 1;         /* 设置弹性元素的伸缩比例 */
}

/* 侧边栏部分 */
.sidebar {
    width: 200px;    /* 设置宽度 */
    margin-left: 20px; /* 设置左外边距 */
    background-color: #fff; /* 设置背景颜色 */
    border: 1px dashed #e0e0e0; /* 设置边框 */
    padding: 20px;  /* 设置内边距 */
    width: 220px;  /* 设置宽度 */
    margin-left: 20px; /* 设置左外边距 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* 设置阴影 */
}


/* 媒体查询：当屏幕宽度小于 800px 时隐藏 aside */
@media (max-width: 800px) {
    .sidebar {
        display: none; /* 隐藏 aside */
    }

    article {
        margin: 0;    /* 移除 article 的外边距 */
    }
}


.sidebar h2 {
    color: #c0392b; /* 红色 */
    font-size: 18px;
    border-bottom: 2px solid #c0392b; /* 底部红线 */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 8px 0;
    color: #c0392b; /* 红色 */
}

.sidebar ul li a {
    text-decoration: none;
    color: #c0392b; /* 红色 */
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline; /* 悬停时下划线 */
}

/* 设置链接的伪类 */
a[href^="http"]:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>');
    vertical-align: baseline;
    margin-left: 2px;
    width: 10px;
    display: inline-block;
    opacity: 0.5;
}
