<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的博客</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Noto+Sans+SC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <!-- 使用 url_for 引用静态文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/copy-tex.min.js') }}"></script>
    
    <link href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.15.1/katex.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <main>
        <article>
            {{ article_content|safe }}
        </article>
        <aside class="sidebar">
            <h2>快捷</h2>
            <ul>
                <li><a href="#">主页</a></li>
                <li><a href="#">手帐</a></li>
                <li><a href="#">关于我</a></li>
                <li><a href="#">我的 Notion 笔记本</a></li>
            </ul>
            <h2>伙伴</h2>
            <ul>
                <li><a href="https://www.chiro.work/">Chiro</a></li>
                <li><a href="#">SignKirimagi</a></li>
                <li><a href="#">Nanguobean</a></li>
                <li><a href="#">Black</a></li>
            </ul>
        </aside>
    </main>
    <form method="post" action="/render">
        <textarea name="markdown" rows="10" cols="30" placeholder="在这里输入 Markdown 内容..."></textarea>
        <button type="submit">渲染</button>
    </form>
</body>
</html>
