<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的博客</title>
    <!-- 导入字体 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Noto+Sans+SC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pygments.css">
    <!-- 导入自定义js脚本 -->
    <script src="/js/main.js"></script>
    <!-- 导入 KaTeX -->
    <link href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.15.1/katex.min.css" rel="stylesheet">
    <script src="/js/copy-tex.min.js"></script>
    <!-- 导入fa icon -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <!-- 导入 clipboard.js -->
    <script src="/js/clipboard.min.js"></script>
    <!-- 导入Toastr -->
    <link rel="stylesheet" href="/css/toastr.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/toastr.min.js"></script>
</head>

<body>
    <main>
        <article>
            {{ article_content|safe }}
        </article>
        <aside class="sidebar">
            <h2>快捷</h2>
            <ul>
                <li><a href="#">主页</a></li>
                <li><a href="#">手帐</a></li>
                <li><a href="#">关于我</a></li>
                <li><a href="#">我的 Notion 笔记本</a></li>
            </ul>
            <h2>伙伴</h2>
            <ul>
                <li><a href="https://www.chiro.work/">Chiro</a></li>
                <li><a href="#">SignKirimagi</a></li>
                <li><a href="#">Nanguobean</a></li>
                <li><a href="#">Black</a></li>
            </ul>
        </aside>
    </main>
</body>
</html>